---
layout: home
---

{% include header.html %}
<div class="c-posts o-opacity" data-page="{{ currentPage }}" data-totalPages="{{ paginator.total_pages }}">
  {% for post in paginator.posts %}
  <article class="c-post">
    {% if post.image %}
    <a class="c-post-thumbnail o-opacity" style="background-image: url({{"/images/" | prepend: site.baseurl | append : post.image}})"
        href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %} {% endif %}
    <div class="c-post-content">
      <h2 class="c-post-title">
        <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
      </h2>
      <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
      <span class="c-post-date">{{post.date | date: '%Y, %b %d'}}</span>
      <span class="c-post-words">
        {% capture words %}
          {{ post.content | number_of_words }}
        {% endcapture %}
      </span>
    </div>
  </article> <!-- /.c-post -->
  {% endfor %}
{% include pagination.html %}
</div> <!-- /.c-posts -->

{% include categories.html %}