---
layout: default
---
<!-- <aside class="c-sidebar o-opacity">
  <div class="c-sidebar-author">
    <div class="c-author__cover">
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/images/{% if site.author-image %}{{site.logo}}{% endif %}" alt="{{site.author-name}}">
      </a>
    </div>
    <br>
    <div class="c-author__info">
    <div class="c-author__name">{{site.author-name}}{{site.baseurl}}</div>
      <span class="c-author__job">{{site.author-job}}</span>
    </div>
    <br>
    <p class="c-author__about">{{site.about-author | strip_html | truncatewords: 50}}</p>

    <br><br>

    <div class="c-contact-menu">
      {% if site.author-linkedin %}
      <a target="_blank" href="https://in.linkedin.com/in/{{site.social-linkedin}}" class="custom-color-linkend c-contact-btn c-btn c-btn--secondary c-btn--round c-btn--shadow"><span data-icon='ei-sc-linkedin' data-size='s'></span> Follow me</a>
      <style>
      .custom-color-linkend {
            color: #fff;
            background-color: #fffcfa;
            background: linear-gradient(135deg, #ffa5a5 0%, #d10f0f 100%);
        }
      </style>
      {% else %}
      {% endif %}
      {% if site.author-github %}
      <a target="_blank" href="https://github.com/{{ site.social-github }}" class="custom-color-github c-btn c-btn--primary c-btn--round c-btn--shadow"><span data-icon='ei-sc-github' data-size='s'></span> Follow me</a>
      <style>
        .custom-color-github {
            color: #fff;
            background-color: #fffcfa;
            background: linear-gradient(135deg, #a3b4f4 0%, #06029c 100%);
        }
      </style>
      {% else %}
      {% endif %}
    </div>
  </div>

  <div class="c-sidebar-footer">
    <div class="c-social">
      <div class="c-social__title">Social</div>
      <ul class="c-social__list u-lists-reset">
        {% if site.social-twitter %}
          <li class="c-social__item"><a  href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><div data-icon='ei-sc-twitter' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
        {% if site.social-facebook %}
          <li class="c-social__item"><a  href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><div data-icon='ei-sc-facebook' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
        {% if site.social-github %}
          <li class="c-social__item"><a  href="https://github.com/{{site.social-github}}" target="_blank"><div data-icon='ei-sc-github' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
        {% if site.social-pinterest %}
          <li class="c-social__item"><a  href="https://pinterest.com/{{site.social-pinterest}}" target="_blank"><div data-icon='ei-sc-pinterest' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
        {% if site.social-instagram %}
          <li class="c-social__item"><a  href="https://instagram.com/{{ site.social-instagram }}" target="_blank"><div data-icon='ei-sc-instagram' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
        {% if site.social-vk %}
          <li class="c-social__item"><a  href="https://vk.com/{{ site.social-vk }}" target="_blank"><div data-icon='ei-sc-vk' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
        {% if site.social-linkedin %}
          <li class="c-social__item"><a  href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><div data-icon='ei-sc-linkedin' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
      </ul>
    </div>
    <div class="c-copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author-city}}</p>
    </div>
  </div>
</aside>  -->
<!-- /.c-sidebar -->

{% assign url = page.url | split: '/' %}
{% if url[1] == "page" or page.url == "/" or url[1] == "category"%}
<div style="text-align: center;">
  {{ page.title }}
  <a href="{{site.baseurl}}/">
    <img class="reogcode-logo" src="http://krisnanto.me/img/myAvatar.svg"> 
  </a>
</div>
{% endif%}
<main class="c-content">
  {{ content }}
</main> <!-- /.c-content -->
